{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - La Boutique {% endblock %}

{% block content %}

    <div class="row">
        {{ form_start(form, {'action': path('product_new'), 'method': 'POST'}) }}
        {{ form(form) }}
        {{ form_end(form) }}
    </div>
    <hr>

{% endblock %}
